{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css') }}">
{% endblock %}

{% block body %}
    <h1>Sign up or log in below</h1>

    <form action = "/" method = "POST">
        <div class="inputUsername">
            <label for="name">Username: </label>
            <input type="text" name="name" placeholder="Username">
        </div>
        <div class="inputPassword">
            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <button type="submit" name="action" value="login">Login</button>
            <button type="submit" name="action" value="register">Register</button>
        </div>
    </form>


    {% if login_failed %}
        <h3 align="center">Incorrect password</h3>
    {% endif %}
    {% if user_not_found %}
        <h3 align="center">User not found</h3>
    {% endif %}
    {% if user_registered %}
        <h3 align="center">User already registered</h3>
    {% endif %}

{% endblock %}

